
.form-container {
    background:rgb(248, 240, 240);
    padding:3.5em;
    width:500px;
    position: relative;
    left:50%;
    margin-top: -500px;
    margin-left:-250px;
}
button {
    padding:1.2em;
    width:100%;
    cursor:pointer;
    margin-bottom:15px;
    font-size:1.3em;
}

.basic-btn {
    background: #3B8598;
    color:white;
}

input.txt {
    background:#fff !important;
    padding:1.3em 1em;
    font-size:1.3em;
    border: 1px solid #BBBBBB;
}

h2 {
    margin: 1.7em 0 .9em 0;
}

.alc {
    text-align:center;
    display:block;
    margin: 15px 0;
}

.error {
    background:#f1f0ef;
    padding:1em;
    width:100%;
    display:block;
    margin-bottom:20px;
}
#lock {
    width:20%;
    margin: 1.5em auto 4em auto;
    display:block;
}
#fb {
    background:#3B5998 url('/assets/images/Facebook_icon.svg') no-repeat 14px 8px;
    background-size: 47px;
    color:#fff;
}
#google {
    border: 1px solid #95989A;
    background: #fff  url('/assets/images/google.jpg') no-repeat 25px;
    background-size: 25px;
}
#email {
    background: #ECECEC  url('/assets/images/Aiga_mail.svg') no-repeat 25px;
    background-size: 25px;
}
